# Node Modules
node_modules/

# Environment Variables
.env
.env.local

# Logs
*.log

# Python
__pycache__/
*.pyc

# Build Files
dist/
build/

# Coverage
coverage/

# VS Code
.vscode/

# Operating System Files
.DS_Store
Thumbs.db

# Temporary Files
.cache/
temp/
